<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
			Ecommerce
			{% endblock %}
		</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/base.css') }}">

		{% block head %}
		{% endblock %}
	</head>

	<body>
		<header>
				<div class="navbar">
					<ul class="navbar_links">
						<li><a href="/">Account</a></li>
						<li><a href="/products">Products</a></li>
						<li><a href="/cart">Cart</a></li>
						<li><a href="/orders">Orders</a></li>
					</ul>

					<ul class="navbar_links">
						<li><a href="/login">Logout</a></li>
					</ul>
				</div>
		</header>

		<div id="block_body">
			{% block body %}
			{% endblock %}
		</div>

		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>
