{% extends "base.html" %}

{% block title %}
Order {{ data.order_data.id }}
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename = 'js/order.js') }}"></script>

<div class="page_body">
	<!-- <div id="test">
		{{ data.order_data }}<br>

		{{ data.user_data }}<br>

		{{data.items_data }}
	</div> -->
	{% if account_type == "vendor" or account_type == "admin" %}
		<div id="manage_controls">
			<h3>Click to set status</h3>

			<!-- TODO make this better by only having one button and change the value when clicked and processed -->
			<form id="status_form">
				<input type="submit" name="status" value="Confirmed" onclick="setOrderStatus(event, {{ data.order_data.id }})">
				<input type="submit" name="status" value="Shipped" onclick="setOrderStatus(event, {{ data.order_data.id }})">
				<input type="submit" name="status" value="Delivered" onclick="setOrderStatus(event, {{ data.order_data.id }})">
			</form>
		</div>
	{% endif %}

	<div id="info_header">
		<h2>General Info</h2>
		<p>Ordered {{ data.order_data.date }}</p>
		<p>Total: ${{ data.order_data.price }}</p>

		<div id="customer_info">
			<p>User ID: {{ data.user_data.id }}</p>
			<p>Username: {{ data.user_data.username }}</p>
			<p>First Name: {{ data.user_data.first_name }}</p>
			<p>Last Name: {{ data.user_data.last_name }}</p>
			<p>Email Address: {{ data.user_data.email_address }}</p>
		</div>

		<div id="address_container">
			<h2>Delivery Information</h2>
			<p>{{ data.order_data.street }}</p>
			<p>{{ data.order_data.city }},  {{ data.order_data.state }} {{ data.order_data.zip_code }}</p>
			<p>{{ data.order_data.country }}</p>
		</div>

		<p>Payment method: {{ data.order_data.payment_method }}</p>

		<h3>Status: {{ data.order_data.status }}</h3>
	</div>

	<div id="info_body">
		<table>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Discount</th>
				<th>Total Price</th>
			</tr>
			{% for item in data.items_data %}
				<tr>
					<td>
						<h4><a href="/products/{{ item.product_id }}">{{ item.name }}</a></h4>
						<p>Seller: {{ item.vendor_username }}</p>

						{% if item.warranties | length > 0 %}
							<h5>Warranty</h5>
							<p>
								Coverage:<br>
								{{ item.warranties[0].coverage_info }}
							</p>
							<p>Starts: {{ item.warranties[0].start_date }}</p>
							<p>Ends: {{ item.warranties[0].end_date }}</p>
						{% endif %}
					</td>

					<td>{{ item.item_quantity }}x</td>
					<td>${{ item.current_unit_price }}</td>
					<td class="discount_amount">{{ item.current_discount * 100 }}% off </td>
					<td>${{ item.current_price }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

</div>
<script>
	const discounts = document.querySelectorAll(".discount_amount")

	Array.from(discounts).forEach(e => e.innerText = e.innerText.split('.')[0] + "%")

</script>
{% endblock %}
