{% extends "base.html" %}

{% block title %}
{{ data.name }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/product_info.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename = 'js/cart.js')}}"></script>

<div class="page_body">
	<div id="message"></div>

	<div id="carousel" class="carousel slide" data-ride="carousel">

		<div class="carousel-inner">
			<div class="item active">
				<img src="{{ data.images[0] }}" alt="">
			</div>

			{% for i in range(1, data.images | length) %}
				<div class="item">
					<img src="{{ data.images[i] }}" alt="">
				</div>
			{% endfor %}
		</div>

		<!-- Display navigation arrows if there is more than 1 image -->
		{% if data.images | length > 1 %}
			<a class="left carousel-control" href="#carousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		{% endif %}
	</div>

	<h1 class="name">{{ data.name }}</h1>
	<p class="vendor_username">Seller: {{ data.vendor_username }}</p>

	<div class="price_container">
		<p class="price">${{ data.original_price }}</p>

		<!-- Display discount and discounted price if there is one active -->
		{% if data.current_discount != None %}
			<p class="price discount">{{ data.current_discount }}% off</p>
			<p class="price discounted_price">${{ data.discounted_price }}</p>
		{% endif %}
	</div>

	<p class="quantity">{{ data.quantity }} left</p>

	<h3>Description</h3>
	<p class="description">{{ data.description }}</p>

	<!-- Display warranties if there is any -->
	{% if data.warranties | length > 0 %}
		<div class="warranty_container">
			<h2>Warranty</h1>
			{% for warranty in data.warranties %}
				<p class="warranty_days">Covers for {{ warranty.coverage_days }} days</p>
				<p class="warranty_coverage">{{ warranty.coverage_information }}</p>
			{% endfor %}
		</div>
	{% endif %}

	<button onclick="addToCart({{ data.id }})">Add to Cart</button>
</div>
{% endblock %}
