{% extends "base.html" %}

{% block title %}
Create Product
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/product_manage.css') }}">
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename = 'js/product.js') }}"></script>

<div class="page_body">
	<div id="product_create_info">
		<h3>Info</h3>
		<input type="text" name="name" placeholder="Product Name" required><br>
		<textarea name="description" placeholder="Description" required></textarea><br>
		<input type="number" name="quantity" placeholder="Inventory" required min="1"><br>
		<input type="number" name="price" placeholder="Price" required min="0.00" step="0.01">
	</div>

	<div id="images">
		<h3>Images</h3>
		<button onclick="createImage()">+</button>
	</div>

	<div id="warranties">
		<h3>Warranties</h3>
		<button onclick="createWarranty()">+</button>
	</div>
</div>

<script>
	const handleNegative = (event) =>
	{
		return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))
	}

	numInputs = document.querySelectorAll("input[type='number']")

	for (input of numInputs)
	{
		input.onkeypress = handleNegative
	}
</script>
{% endblock %}
