{% extends "base.html" %}

{% block title %}
Products
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/products.css') }}">
{% endblock %}

{% block body %}
<div class="page_body">
	{% for data in product_data %}
		<div class="product">
			<div class="image_container">
				<!-- Display the first image if there are any -->
				{% if data.images | length > 0 %}
					<img src="{{ data.images[0] }}" alt="">
				{% endif %}
			</div>

			<div class="product_info">
				<h3 class="name">{{ data.name }}</h3>
				<p class="vendor_username">Seller: {{ data.vendor_username }}</p>
				<p class="price">${{ data.original_price }}</p>
			</div>

		</div>
	{% endfor %}
</div>

{% endblock %}
