{% extends "base.html" %}

{% block title %}
Products
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/products.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename = 'js/navigator.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/cart.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/product.js') }}"></script>

<div class="page_body">
	{% for data in product_data %}
		<div class="product">
			<div class="product_data" onclick="setTop('/products/{{ data.id }}')">
				<div class="image_container">
					<!-- Display the first image if there is any -->
					{% if data.images | length > 0 %}
						<img src="{{ data.images[0] }}" alt="">
					{% else %}
						No image
					{% endif %}
				</div>

				<div class="product_info">
					<h3 class="name">{{ data.name }}</h3>
					<p class="vendor_username">Seller: {{ data.vendor_username }}</p>

					<div class="price_container">
						<p class="price">${{ data.original_price }}</p>

						<!-- Display discount and discounted price if there is one active -->
						{% if data.current_discount != None %}
							<p class="price discount">{{ data.current_discount }}% off</p>
							<p class="price discounted_price">${{ data.discounted_price }}</p>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="button_container">
				{% if account_type == "customer" %}
					<button onclick="addToCart({{ data.id }})">Add to Cart</button>

				{% elif account_type == "vendor" or account_type == "admin" %}
					<button class="manage_button" onclick="setTop('/products/edit/{{ data.id }}')">Edit</button>
					<button class="manage_button" onclick="deleteProduct('/products', {{ data.id }})">Delete</button>

				{% endif %}
			</div>
		</div>
	{% endfor %}

	<div id="message"></div>
</div>
{% endblock %}
