{% extends "base.html" %}

{% block title %}
Create Product
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/product_manage.css') }}">
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename = 'js/product.js') }}"></script>

<div class="page_body">
	<!-- Maybe form would have been better -->
	<div id="product_create_info">
		{% if account_type == "admin" %}
			<input type="number" name="vendor_id" placeholder="Vendor ID" required min="1" step="1"><br>
		{% endif %}

		<h3>Info</h3>
		<input type="text" name="name" placeholder="Product Name" required><br>
		<textarea name="description" placeholder="Description" required></textarea><br>
		<input type="number" name="quantity" placeholder="Inventory" required min="1"><br>
		<input type="number" name="price" placeholder="Price" required min="0.00" step="0.01">
	</div>

	<div id="images">
		<h3>Images</h3>
		<button class="add_button" onclick="createImage()">+</button>
	</div>

	<div id="warranties">
		<h3>Warranties</h3>
		<button class="add_button" onclick="createWarranty()">+</button>
	</div>

	<button id="create_button" onclick="createProduct('{{ account_type }}')">Create</button>

	<div id="message"></div>
</div>

<script>
	const handleNegative = (event, float = false) =>
	{
		if (float)
			return (event.charCode != 8 && event.charCode == 0 || ((event.charCode >= 48 && event.charCode <= 57)  || event.charCode == 46))

		return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 190
	}

	quantityInputs = document.getElementsByName("quantity")

	for (const input of quantityInputs)
	{
		input.onkeypress = handleNegative
	}

	priceInputs = document.getElementsByName("price")

	// TODO restrict decimal places to 2
	for (const input of priceInputs)
	{
		input.onkeypress = handleNegative(event, true)
	}
</script>
{% endblock %}
