{% extends "base.html" %}

{% block title %}
Sign up
{% endblock %}

{% block body %}
<div class="page_body">
	<form action="/signup/" method="POST">
		<h1>Sign Up</h1>

		<p>I am a ...</p>
		<select name="account_type">
			<option value="customers">User</option>
			<option value="vendors">Vendor</option>
		</select><br>

		<input type="text" name="first_name" placeholder="First Name" maxlength="64" required><br>
		<input type="text" name="last_name" placeholder="Last Name" maxlength="64" required><br>
		<input type="text" name="username" placeholder="Username" maxlength="32" required><br>
		<input type="email" name="email_address" placeholder="Email Address" maxlength="64" required><br>
		<input type="password" name="password" placeholder="Password"><br>
		<input type="password" name="password_confirm" placeholder="Confirm Password"><br>

		<input type="submit" value="Sign up">

		<p>Already have an account? <a href="/login">Login</a></p>
	</form>

	{% if message %}
		<p>{{ message }}</p>
	{% endif %}
</div>
{% endblock %}
